{% extends "classroom/base.html" %}
{% load bootstrap4 %}
{% block content %}

<div class="container ">
		<div class="row">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{request.META.HTTP_REFERER}}">Profile</a></li>
                <li class="breadcrumb-item active">Change Password</li>
            </ol>

        </div>

       <div class="section-heading">
            <h2>Change Password</h2>
            <div class="line-dec"></div>

          </div>

    <div class="jumbotron bg-dark text-white">

        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {% bootstrap_form form %}
        <input class="btn btn-primary" type="submit" name="" value="Change Password">
        </form>
    </div>
</div>

{% endblock %}
