{% extends 'classroom/base.html' %}
{% load static %}
{% block content %}

<div class="container ">
		<div class="row">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active">Notice</li>
            </ol>

        </div>

       <div class="section-heading">
            <h2>Notice</h2>
            <div class="line-dec"></div>

          </div>

  {% if student.class_notice.count == 0 %}
  <h2 class="text-center">No Notice Yet.</h2>
  {% else %}

  {% for notice in student.class_notice.all %}
  <div class="notice">
  <div class="row">

    <div class="col-12 col-md-12">
<div class="card card-body bg-dark">
      <div class="notice-details">
        <div class="row align-items-center">

        <div class="col-2">

          {% if notice.teacher.teacher_profile_pic %}
      <img src="{{ notice.teacher.teacher_profile_pic.url }}" class="notice-img">
      {% else %}
      <img src="{% static 'images/t_profile.png' %}" class="notice-img">
      {% endif %}
        </div>


<div class="offset-2 col-8">
    <div class="row">
        <div class="col-md-4">
          <h5>By: {{ notice.teacher.name }}</h5>
        </div>

        <div class="col-md-3">
          <h5>Subject: {{ notice.teacher.subject_name }}</h5>
        </div>

        <div class="col-md-5">
          <h5>{{ notice.created_at }}</h5>
        </div>
        </div>
 </div>
 </div>
        </div>
        <hr>
        <h2 class="text-white">{{ notice.message_html|safe }}</h2>
        </div>
    </div>
  </div>
  </div>
  <br>
  {% endfor %}
  {% endif %}
</div>

{% endblock %}
