{% extends 'classroom/base.html' %}
{% load static %}
{% block content %}

{% if messages %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
  {% for message in messages %}
    <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
  {% endfor %}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
<body>
<div class="banner">
      <img src="{% static 'images/home.jpg' %}" alt="">
      <div class="content">
        <h1 class="text-white font-weight-bold">E-Classroom</h1>
      </div>
    </div>
<br>

        <div class="container  ">

          <div class="section-heading">
            <h1>Our Services</h1>
            <div class="line-dec"></div>
            <span
              >Our Web Platform provides following features for Teachers and Students.

			  </span>
          </div>
<br>

          <div class="left-image-post">
            <div class="row">
              <div class="offset-sm-1 col-md-5">
                <div class="left-image">
                  <img class="img-fluid rounded " style="width:100%" src="{% static 'images/student.jpg' %}" style="width:100px;height:100px;" alt=""/>
                </div>
              </div>

               <div class="col-md-5">
              <div class="service-item second-service-icon service-icon">
                <h2 class="text-center">For Student</h2>
              <p class="text ">
                  <ol class="text-justify">
                <li>Students can login in the portal and keep themselves updated of all the activities going on in the class.</li>
                <li>Students can see the notice given by their teacher in the Class Notice option.</li>
                <li>Students can download their assignments in the Assignments option and can also submit it their. ( Once assignment is submitted, it can't be changed later. )</li>
                <li> Students can contact any teacher through message option in All Teachers List. </li>
                <li>Students can check their marks in the Marks option.</li>
                <br>
              </ol>
              </p>
              </div>
            </div>

            </div>
          </div>
<hr>


            <div class="right-image-post">
            <div class="row">
                <div class="offset-sm-1 col-md-5 order-last order-md-first">
                   <div class="service-item second-service-icon service-icon">
                    <h2 class="text-center">For Teacher</h2>
              <p class="text">
                  <ol class="text-justify">
                   <li>Teachers can add student in their class through Add Student option.</li>
                <li>After adding students in their class, Teacher can give or edit their class students marks.</li>
                <li>Teachers can also write notice which will be send to all students in their class.</li>
                <li>Teachers can upload assignments through upload assignment options.</li>
                <li>Teacher can check their student's assignment submission and give them marks accordingly.</li>
                <li>Teacher can also all the marks given by them to a student by accessing their Marks profile and can edit their marks.</li>

                <br>
              </ol>
              </p>
              </div>
                </div>
                <div class=" col-md-5 order--last">
                <div class="right-image">
                  <img class="img-fluid rounded " style="width:100%" src="{% static 'images/teacher.jpg' %}" style="width:100px;height:100px;" alt=""/>
                </div>
              </div>



            </div>
          </div>
        </div>

<hr class="bg-secondary">

    <div class="research">
         <div class="section-heading ">
            <h1 class="">Digital Learning</h1>
            <div class="line-dec"></div>
            <span
              >A Complete Class Management Platform for Student & Teacher.
			  </span>
          </div>
          <br>
      <div class="row">

        <div class="offset-md-1 col-md-4">
          <img class="rounded" src="{% static 'images/digital.jpg' %}" alt="">
        </div>
        <div class="col-md-6">

          <div class="digital-content">

                <div class="card card-body bg-dark">
                    <blockquote class="blockquote">

                       <p class="d-none d-sm-block">Digital learning is any type of learning that is accompanied by technology or by instructional practice that makes effective use of technology.
                        It encompasses the application of a wide spectrum of practices including: blended and virtual learning.</p>
                       <p class="text-center">This COVID-19 lockdown period gave us a better chance to understand the state of digital learning. eClassroom provides all facilities that
            is needed for improvising digital learning.</p>

                    </blockquote>
                </div>


          </div>
        </div>
      </div>
    </div>

<hr class="bg-secondary">


        <div class="container">
          <div class="section-heading">
            <h2>Contact Us</h2>
            <div class="line-dec"></div>
            <span>
              Interested in collaborating or investing?</span>
			  <span><br>
					I’m always open to discussing product design work or partnership opportunities.</span>
                <br>
                <br>
          </div>

          <div class="row">
		  	<div class="col-12">
	<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3883.5330441266647!2d74.78288441479593!3d13.254595190670685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbcaffcb81452c5%3A0xb18b6b77e04b088b!2sShri%20Madhwa%20Vadiraja%20Institute%20of%20Technology%20and%20Management!5e0!3m2!1sen!2sin!4v1598341224585!5m2!1sen!2sin"></iframe>
	</div>
	</div>
		<br>
		<hr class="bg-secondary">
<p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>
             <form id="contact" method="post" action="{% url 'classroom:index' %}">
            	{% csrf_token %}
               <div class="row">
                    <div class="col-md-6">
                      <fieldset>
                        <input
                          name="name"
                          type="text"
                          class="form-control"
                          id="name"
                          placeholder="Your name..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <input
                          name="email"
                          type="text"
                          class="form-control"
                          id="email"
                          placeholder="Your email..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input
                          name="subject"
                          type="text"
                          class="form-control"
                          id="subject"
                          placeholder="Subject..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea
                          name="message"
                          rows="6"
                          class="form-control"
                          id="message"
                          placeholder="Your message..."
                          required=""
                        ></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
						<button type="submit" id="form-submit" class="button border-neon" >
                          Start a Conversation
						</button>
                      </fieldset>
                    </div>
                  </div>

            </form>
              </div>
<br>


<hr class="bg-secondary">

    <div class="container">
                    <div class="row text-center">

                    <div class="social-network col-12  text-center">
                <h2>Follow Us On</h2>
                  <br>
                <span>
                  <a href="mailto:ab007shetty@gmail.com?subject=Mail-from-Portfolio"><i class="fa fa-envelope"></i></a>
                </span>
                <span>
                  <a href="https://twitter.com/ab007shetty/" target="blank"><i class="fa fa-twitter"></i></a>
                </span>
                <span>
                  <a href="https://www.linkedin.com/in/anirudha-b-shetty-29a338111/" target="blank"><i class="fa fa-linkedin"></i></a>
                </span>
                <span>
                  <a href="https://www.instagram.com/a.b.shetty/" target="blank"><i class="fa fa-instagram"></i></a>
                </span>
                <span>
                  <a href="https://github.com/ab007shetty/" target="blank"><i class="fa fa-github"></i></a>
                </span>
                <br>
                <br>
                 <div class="btn-group text-center col-12 col-sm-4" role="group">
                    <a role="button" class="btn btn-success" href=" https://wa.me/919448936489?text=I%20Love%20You." target="blank"><i class="fa fa-whatsapp"></i> WhatsApp</a>

                    <a role="button" class="btn btn-info" href="tel:+918150071512"> <i class="fa fa-phone"></i> Call</a>
                    <a role="button" class="btn btn-primary" href="mailto:anirudha.17me010@sode-edu.in"> <i class="fa fa-envelope-o"></i> Email</a>
                </div>

				</div>

           </div>
		   <hr>
           <div class="row justify-content-center">
                     <div class="col-auto">
                    <p> &copy; 2020 E-Classroom All Rights Reserved. </p>
                </div>
           </div>
        </div>
  </body>
{% endblock %}
