{% extends "classroom/base.html" %}
{% load static %}
{% block content %}

<div class="container ">
		<div class="row">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active">All Teachers</li>
            </ol>

        </div>

       <div class="section-heading">
            <h2>All Teachers</h2>
            <div class="line-dec"></div>
        </div>

 <form method='GET' action="{% url 'classroom:teachers_list' %}" >
     <div class="input-group md-form form-sm form-2 pl-0">
     <input class="form-control my-0 py-1" type='search' name='q' placeholder='Type Name to Search...' aria-label="Search">
     <div class="input-group-append">
   <button  class="input-group-text lime lighten-2 btn-outline-success " type="submit"><i class="fas fa-search text-grey" aria-hidden="true"></i></button>
   <input type="submit" value="Cancel" class="btn btn-danger pull-right" onclick="window.location.href='{% url 'classroom:teachers_list' %}'; return false;">
  </div>
</div>
  </form>


  <div class="row">
  {% for teacher in teachers_list %}
  <div class="col-12 col-sm-4 ">
<br>
     <div class="hovereffect img-fluid img-thumbnail">
         {% if teacher.teacher_profile_pic %}
      <img src="{{ teacher.teacher_profile_pic.url }}" alt="">
      {% else %}
      {% if forloop.counter0|divisibleby:"2" %}
      <img src="{% static 'images/t1.jpg' %}" alt="">
      {% else %}
      <img src="{% static 'images/t2.jpg' %}" alt="">
      {% endif %}
      {% endif %}

        <div class="overlay">
           <h2 class="font-weight-bold">{{ teacher.name }}</h2>
      <div class="card card-body bg-dark d-flex p-5">
      <p class=""><i class="far fa-user"></i> Username: {{ teacher.user.username }}</p>
      <p><i class="fas fa-books"></i> Subject Name: {{ teacher.subject_name }}</p>
      <p><i class="far fa-phone"></i> Phone: {{ teacher.phone }}</p>
      <p><i class="far fa-envelope-open-text"></i> Email ID: {{ teacher.email }}</p>
      <br>
      <br>
      <button class="btn btn-info">
          <a class="nav-link text-white" href="{% url 'classroom:write_message' pk=teacher.pk %}">Message </a>
      </button>

</div>
        </div>
    </div>

    </div>
  {% endfor %}
  </div>
  <br>
  <br>
</div>

{% endblock %}
