{% extends 'classroom/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container ">
		<div class="row">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active">Upload Assignment</li>
            </ol>

        </div>

       <div class="section-heading">
            <h2> Upload Assignment</h2>
            <div class="line-dec"></div>

          </div>

<div class="jumbotron bg-dark text-white">
  {% if assignment_uploaded %}
  <h1>Assignment is uploaded successfully.</h1>
  {% else %}
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" class="btn btn-danger" name="" value="Upload">
  </form>
  {% endif %}
</div>
</div>
{% endblock %}
