{% extends 'classroom/base.html' %}
{% block content %}

   <div class="container ">
		<div class="row">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                 <li class="breadcrumb-item"><a href="{% url 'classroom:teachers_list' %}">Teacher's</a></li>
                <li class="breadcrumb-item active">Write Message</li>
            </ol>

        </div>

          <div class="section-heading">
            <h2 class="">Write a message to {{ teacher.name }}</h2>
            <div class="line-dec"></div>
            <span class="text-muted">
            After sending message you will not be able to delete or edit message.</span>

          </div>

<div class="">
  {% if message_sent %}
    <h2>Message is sent successfully.</h2>
  {% else %}

  <br>

                <div class="row row-content align-text-center text-white ">
	<div class="col-12 col-md-10 offset-sm-1">
             <div class="col-12">
                <div class="card card-body  bg-dark">

                    {{ form.non_field_errors }}

						<form  method="post" class =" col-2-3 " >
						    {% csrf_token %}

                 <div class="form-group row">
                        <label for="notice" class="col-md-2 col-form-label"> <h6>  {{ form.message.label_tag }} </h6></label>
                        <div class="col-md-10">

                            <textarea class="form-control" id="feedback" required name="message" placeholder="Write Your Message..." rows="5"></textarea>

                        </div>
                    </div>

                 <div class="form-group row ">
                        <div class="offset-md-2 col-md-10">
                            <input class="btn btn-primary" type="submit"  value="Send">
                        </div>
                    </div>
                </form>


                </div>
            </div>
			</div>
		</div>


  {% endif %}
</div>
</div>
{% endblock %}
